
main{
    padding: 1rem 2rem;
    margin: 5em;
    display: flex;
    justify-content: center;
    align-content: center;
}
.carousel-items img{
    max-width: 75%;
    display: flex;
    margin-left: 4em;
    margin-bottom:1em ;
    margin-top: 1em;
    align-self: center;
    justify-self: center;
    box-shadow: 3px 3px 40px #758b9e;
}
.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
}
.carousel-item {
    margin-left: 1rem;
}
.carousel-item {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 450px;
    margin-left: 1rem;
    scroll-snap-align: start;
}
::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    height: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 3px;
}
.card {
    border: 1px solid #bac6d3;
    border-radius: 8px;
    padding: 1rem;
}
a {
    color: inherit;
    transition: 0.25s all ease-in-out;
}

a:visited {
    color: #3d4852;
}

a:hover,
a:focus,
a:active {
    background-color: #3d4852;
    color: white;
}

a:focus {
    outline: thin solid #3d4852;
}

a:hover,
a:active {
    outline: 0;
}

a.button {
    align-items: center;
    background-color: #2d4357;
    border: 1px solid #0f202f;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-flex;
    padding: 0.25rem 0.75rem;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

a.button:hover,
a.button:focus {
    background-color: #112031;
    box-shadow: 0 0 2px 2px #bac6d3;
}

a.button:focus {
    outline: 1px solid var(--text-color);
}

a.button:visited {
    color: #fff;
}

ul {
    margin: 0 0 1.5rem;
    padding: 0;
}

li {
    display: inline-block;
}

svg {
    fill: currentColor;
    width: 1.5rem;
    height: 1.5rem;
}

img {
    height: auto;
    margin-bottom: .5rem;
    max-width: calc(100% + 2rem);
    position: relative;
    left: -1rem;
    right: -1rem;
}

p {
    padding-top: 1em;
    color: var(--bg-color);
    margin: 0 0 .5rem;
}
main{
    display: flex;
    flex-direction: column;
}
